
#est{
    position: absolute;
    top: 45px;
    left: 110px;
   }
 #est1{
    position: absolute;
    top: 90px;
    left: 80px;
   }

 #botones{
    position: relative;
}

ion-content{
  --ion-background-color:#cfead8;
}
.new-background-color{
  --background: #cfead8;
}
.card{
  --background: #4baa9c;
}

$colors: (
primary:    #488aff,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222
);