<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="dark" ></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="f_user">
 <ion-item> 
    <ion-label position="floating">Usuario<ion-text color="danger">*</ion-text>
    </ion-label>
      
<ion-input type="text" formControlName="user" > </ion-input>
</ion-item>
<ion-item> 
  <ion-label position="floating">Clave
    <ion-text color="danger">*</ion-text>
  </ion-label >
       <ion-input type="password" formControlName="pass" >  </ion-input>
      </ion-item>
     <ion-button   type="submit" [disabled]="f_user.invalid" class="card"> Ingresar</ion-button>

  </form>
</ion-content>
