<ion-header>
  <ion-toolbar class="new-background-color">
     <!--Boton atras-->
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>adicionar editorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="Enviar()" #form_editorial="ngForm" >
    <label type="number" name="code" placeholder="Nombre" [(ngModel)]="edit.code"></label>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" name="nombre" placeholder="Nombre"[(ngModel)]="edit.nombre" required> </ion-input>
    </ion-item>

    <ion-label name="estado"  [(ngModel)]="edit.estado" value="0" required> </ion-label>

<ion-button type="submit" [routerLink]="['/editorial']" class="card">Guardar</ion-button>
<ion-button type="reset" class="card">Cancelar</ion-button>
<button ></button>

  </form>
</ion-content>
