<ion-header>
  <ion-toolbar  class="new-background-color">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"color="dark" ></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Devolucion:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<fieldset>
  <legend>Agregar Devolucion </legend>
  <form (ngSubmit)="Enviar()" #form_devol="ngForm" >
            
    <ion-iten> 
     <ion-label>Fecha: </ion-label>
     <ion-input type="date" name="fecha" ngModel required> </ion-input>
   </ion-iten>
 
  <ion-item> 
       <ion-label>Estado: </ion-label>
       <ion-select placeholder="Seleccione Uno" name="estado"  ngModel> 
        <ion-select-option value="1"  > Activo </ion-select-option>
        <ion-select-option value="0" > Anulado </ion-select-option>
       </ion-select>
   </ion-item>

  <ion-item> 
       <ion-label>Mprestamo:</ion-label>
       <ion-select name="codp" ngModel required>
         <ion-select-option *ngFor="let item of mv" [value]="item._links.self.href">{{item.codp}} - {{item.fecha|date}}
            </ion-select-option>
       </ion-select>
   </ion-item>
<ion-item> 
     <div class="row mb-2">
       <ion-label class="cell-sm-3">Usuario:</ion-label>
       <ion-select name="login" ngModel required>
         <ion-select-option *ngFor="let item of usu" [value]="item._links.self.href">{{item.login}}

         </ion-select-option>
       </ion-select>
     </div>
     </ion-item>
<ion-button type="submit" class="card">Guardar</ion-button>
<ion-button type="reset" class="card">Cancelar</ion-button>
 </form> 
</fieldset>

</ion-content>
