#imagen{
  width: 110px;
  top: 50px;
  left: 100px;
  position: absolute;
 }
 #botones{
     position: relative;
 }
 ion-button{
  font-size: 15px; //Preferred size here
 }
#est{
  position: absolute;
  top: 57%;
  left: 77px;
 }
 ion-content{

  --ion-background-color:#cfead8;
}
.new-background-color{
  --background: #cfead8;
}
.card{
  --background: #4baa9c;
}

$colors: (
primary:    #488aff,
secondary:  #0eb1b1,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222
);