<ion-header>
  <ion-toolbar  class="new-background-color">
    <!--Boton atras-->
  
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Devolucion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="card" >
    <ion-fab-button  class="card">
      <ion-icon   name="add" [routerLink]="['/mdevol']"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-label> Agre. Devolucion a Ejem:</ion-label>
    <ion-button  color="dark" fill="clear"  [routerLink]="['/ddevol']" >
      <ion-icon name="book-outline"></ion-icon>
    </ion-button>
    </ion-item>
  <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-select placeholder="Select One" name="fecha" ngModel required>
        <ion-select-option *ngFor="let item of lista" [value]="item._links.self.href">{{item.fecha | date:'dd/MM/yyyy'}}
        </ion-select-option>
      </ion-select>
    </ion-item>

<ion-card *ngFor="let item of lista">
  <ion-card-header>
    <ion-card-subtitle color="dark">Codigo: {{item.codd}}</ion-card-subtitle>
 
  <p>Fecha: {{item.fecha | date:'dd/MM/yyyy'}}</p>
  
  <container-element [ngSwitch]="item.estado"> Estado:
    <div *ngSwitchCase="1">
      <ion-icon name="thumbs-up-outline" id="est1"> </ion-icon>
    </div>
    <div *ngSwitchCase="0">
      <ion-icon name="thumbs-down-outline" id="est1"></ion-icon>
    </div>
  </container-element>
</ion-card-header>
<ion-item id="botones">
  <ion-button color="dark" fill="clear" (click)="delete(item)">
    <ion-icon name="trash"> </ion-icon>
  </ion-button>
 
</ion-item>
  </ion-card>
</ion-content>
